<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Thessaloniki Ruby Meetup (thessrb) : Official thessaloniki.rb repository">
  <%= stylesheet_link_tag 'application' %>
  <title>Thessaloniki Ruby Meetup (thessrb.io) <%= @title %></title>
</head>
<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/thessrb/meetup">View on GitHub</a>

      <h1 id="project_title">thessrb.io</h1>
      <h2 id="project_tagline">Official Thessaloniki Ruby Meetup Home</h2>

      <section id="menu">
        <% case @current_page
            when 'home' %>
            <span class="current">Home</span>
            <a class="" href="members">Members</a>
            <a class="" href="knowledge">Knowledge Base</a>
          <% when 'members' %>
            <a class="" href="/">Home</a>
            <span class="current">Members</span>
            <a class="" href="knowledge">Knowledge Base</a>
          <% when 'knowledge' %>
            <a class="" href="/">Home</a>
            <a class=""  href="members">Members</a>
            <span class="current" href="knowledge">Knowledge Base</span>
          <% end %>
      </section>
    </header>
  </div>

  <%= yield %>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p class="copyright">
        Thessaloniki Ruby Meetup (thessrb.io) maintained by <a href="https://github.com/thessrb">thessrb</a>
      </p>
    </footer>
  </div>

</body>
</html>
