<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Thessaloniki Ruby Meetup (thessrb) : Official thessaloniki.rb repository">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/custom.css">
  <title>Thessaloniki Ruby Meetup (thessrb.io)</title>
</head>
<body>
  <!-- HEADER -->
  <div id="header_wrap" class="outer">
    <header class="inner">
      <a id="forkme_banner" href="https://github.com/thessrb/meetup">View on GitHub</a>

      <h1 id="project_title">thessrb.io</h1>
      <h2 id="project_tagline">Official Thessaloniki Ruby Meetup Home</h2>

      <section id="menu">
        <a class="" href="/">Home</a>
        <span class="current">Members</span>
      </section>
    </header>
  </div>

  <!-- MAIN CONTENT -->
  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

      <h4>
        Find out more information for each and every one of us!
      </h4>

      <h5 class="shoutout">
        If you are a member and do not see your name in this list...<br/>
        Same on you! <br/>
        Create a Pull Request to include yourself now!
      </h5>

      <ul class="members-list">
        <li>
          <span class="name">Vassilis Rizopoulos</span>
          <p class="brief">
            <blockquote>Country - hoping software engineer and testing hardliner</blockquote>
          </p>
          <ul>
            <li class="github">Github: <a href="http://github.com/arcandros">arcandros</a></li>
            <li class="twitter">Twitter: <a href="http://twitter.com/arcandros">@arcandros</a></li>
            <li class="website">Website/Blog: <a href="http://www.ampelofilosofies.gr/">http://www.ampelofilosofies.gr/</a></li>
          </ul>
        </li>

        <li>
          <span class="name">Petros Amiridis</span>
          <p class="brief">
            <blockquote>Working @GitHub Support, programming for fun, working remotely, running, cooking, and eating.</blockquote>
          </p>
          <ul>
            <li class="github">Github: <a href="http://github.com/petros">petros</a></li>
            <li class="twitter">Twitter: <a href="http://twitter.com/amiridis">@amiridis</a></li>
            <li class="website">Website/Blog: <a href="http://amiridis.net/">http://amiridis.net</a></li>
          </ul>
        </li>

        <li>
          <span class="name">Haris Dimitriou</span>
          <p class="brief">
            <blockquote>Ruby Developer (mostly)</blockquote>
          </p>
          <ul>
            <li class="github">Github: <a href="http://github.com/xarisd">xarisd</a></li>
            <li class="twitter">Twitter: <a href="http://twitter.com/xarisd">@xarisd</a></li>
            <li class="website">Website/Blog: <a href="http://xarisd.io">http://xarisd.io</a></li>
          </ul>
        </li>

        <li>
          <span class="name">Stefanos Togoulidis</span>
          <p class="brief">
            <blockquote>life hacking, Android Dev @fieldaware</blockquote>
          </p>
          <ul>
            <li class="github">Github: <a href="http://github.com/hypest">hypest</a></li>
            <li class="twitter">Twitter: <a href="http://twitter.com/hypest">@hypest</a></li>
          </ul>
        </li>

        <li>
          <span class="name">Add your name here...</span>
          <p class="brief">
            <blockquote>Add a quote about yourself</blockquote>
          </p>
          <ul>
            <li class="github">Github: <a href="http://github.com">Add your Github profile...</a></li>
            <li class="twitter">Twitter: <a href="http://twitter.com">Add your Twitter profile...</a></li>
            <li class="website">Website/Blog: <a href="#">Add your website/blog...</a></li>
          </ul>
        </li>
    </section>
  </div>

  <!-- FOOTER  -->
  <div id="footer_wrap" class="outer">
    <footer class="inner">
      <p class="copyright">
        Thessaloniki Ruby Meetup (thessrb.io) maintained by <a href="https://github.com/thessrb">thessrb</a>
      </p>
    </footer>
  </div>

</body>
</html>
